.list-gallery {
    width: 100%;
    height: 100vh;
    background : $cl-white;

    .close-button {
        position: absolute;
        top: $px-24;
        left: $px-24;
        z-index: 1;
        background: none;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        .gallery-header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: $px-18;
            position: absolute;
            top: 0;
            left: 0;
            width: 10vw;
            height: 100vh;
            padding: $px-12;

            .gallery-navigation {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: $px-8;

                .button {
                    background: none;
                    
                    img {
                        width: $px-24;
                        height: $px-24;
                        opacity: 0.6;
                    }

                    &:hover {
                        img {
                            opacity: 1;
                        }
                    }
                }

                .pager-container {
                    display: flex;
                    flex-direction: column;
                    gap: $px-14;

                    p {
                        position: relative;
                        cursor: pointer;
                        transition: 0.3s ease;
                        color: $cl-black;
                        text-transform: capitalize;
                        text-align: center;
                        transition: 0.3s ease;
                        opacity: 0.4;

                        &:hover {
                            opacity: 1;
                        }
                    }

                    .focus {
                        opacity: 1;
                    }
                }

                .pager {
                    display: flex;
                    justify-content: center;
                    gap: $px-36;
                    width: 100%;
    
                    .button {
                        width: $px-24;
                        height: $px-24;
    
                        img {
                            width: $px-22;
                            height: $px-22;
                        }
                    }
                }
            }
        }

        .gallery-image {
            position: relative;
            width: 80vw;
            height: 90vh;
            overflow: hidden;

            .copy-content {
                display: flex;
                flex-direction: column;
                position: absolute;
                width: $col-4;
                padding: $px-72 $px-72;

                .image-caption {
                    opacity: 0.8;
                    text-transform: capitalize;
                    margin-bottom: $px-12;
                    white-space: pre-wrap;
                }

                .image-title {
                    margin-bottom: $px-72;
                    text-transform: capitalize;
                    white-space: pre-wrap;
                }

                .image-sub-title {
                    margin-bottom: $px-12;
                    white-space: pre-wrap;
                }

                .image-desc {
                    opacity: 0.8;
                    white-space: pre-wrap;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            video {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

            .list-item-container {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: 5vw;
                bottom: 0;
                width: 90vw;
                height: 5vh;

                .item-numbers {
                    display: flex;
                    align-items: center;
                    gap: $px-12;
                    
                    .item-number {
                        position: relative;
                        cursor: pointer;
                        color: $cl-gray02;
                        transition: 0.3s ease;

                        .mark {
                            position: absolute;
                            width: 100%;
                            height: 4px;
                            left: 0;
                            bottom: -4px;
                            opacity: 0;
                            transition: 0.3s ease;
                            background: $cl-black;
                        }

                        &:hover {
                            color: $cl-black;
                        }
                    }

                    .highlight {
                        color: $cl-black;
                        .mark {
                            opacity: 1;
                        }
                    }
                }

                .item-name {
                    color: $cl-black;
                    text-transform: capitalize;
                }
            }

    }
}

.list-gallery::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}