.list-gallery {
    height: 100vh;
    .container {
        display: flex;
        height: 100%;
        .gallery-header {
            display: flex;
            flex-direction: column;
            gap: $px-18;
            width: 10.2083vw;
            padding: 0 $px-24 0 $px-48;

            h2 {
                display: flex;
                align-items: center;
                color: $cl-gray02;
                height: 5.7292vw;
            }

            .gallery-navigation {
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: $px-8;

                li {
                    position: relative;
                    cursor: pointer;
                    transition: 0.3s ease;
                    color: $cl-gray03;
                    text-transform: capitalize;

                    .mark {
                        position: absolute;
                        top: calc($px-2 - 1px);
                        left: calc($px-16 * -1);
                        width: $px-10;
                        height: $px-10;
                        background: $cl-white;
                        border-radius: 50%;
                        opacity: 0;
                        transition: 0.3s ease;
                    }

                    &:hover {
                        color: $cl-white;
                        opacity: 0.7;
                    }
                }

                .highlight {
                    color: $cl-white;

                    .mark {
                        opacity: 1;
                    }
                }
            }
        }

        .gallery-body {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            .list-item-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 5.7292vw;
                padding-right: $px-48;

                .item-numbers {
                    display: flex;
                    align-items: center;
                    gap: $px-12;
                    
                    .item-number {
                        position: relative;
                        cursor: pointer;
                        color: $cl-gray04;
                        transition: 0.3s ease;

                        .mark {
                            position: absolute;
                            width: $px-18;
                            height: 4px;
                            left: 0;
                            bottom: -4px;
                            opacity: 0;
                            transition: 0.3s ease;
                            background: $cl-white;
                        }
                    }

                    .highlight {
                        color: $cl-white;
                        .mark {
                            opacity: 1;
                        }
                    }
                }

                .item-name {
                    color: $cl-gray01;
                    text-transform: capitalize;
                }
            }

            .gallery-image {
                width: 100%;
                height: 100%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

    }
}

.list-gallery::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}