.hotel-detail-page {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    .container {
        .scroll-hook {
            scroll-snap-align: start;
        }

        .overview-list {
            display: flex;
            align-items: center;
            position: fixed;
            z-index: 5;
            top: 0;
            right: $side-distance;
            height: 100vh;
            opacity: 0;
            transition: 0.3s ease;

            ul {
                display: flex;
                flex-direction: column;
                gap: 6px;
                
                .overview-list-item {
                    position: relative;
                    
                    .list-item-title {
                        color: $cl-gray03;
                        cursor: pointer;
                        text-align: right;
                        transition: 0.2s ease;

                        &:hover {
                            color: $cl-gray01;
                        }
                    }
    
                    .highlight-list-item-title {
                        color: $cl-gray01;
                    }
    
                    .mark {
                        display: block;
                        position: absolute;
                        top: 0.02vw;
                        right: -1vw;
                        width: 0.4vw;
                        height: 0.4vw;
                        background: $cl-white;
                        border-radius: 50%;
                        opacity: 0;
                        transition: 0.3s ease;
                    }
                    
                    .show-mark {
                        opacity: 1;
                        transition: 0.3s ease;
                    }
                }
            }
        }

        .show-overview-list {
            opacity: 1;
        }
    }

    .background-image {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100vh;
        background: $cl-black;

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100vh;
            background: rgba(0, 0, 0, 0.7);
            transition: 0.3s ease;
            transition-delay: 0.5s;
        }
        
        .show-overlay {
            opacity: 1;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    .fixed-button {
        position: fixed;
        bottom: 1.6667vw;
        right: $side-distance;
        z-index: 10;
    }
}