.masterplan-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: $cl-main;

    .masterplan-container {
        display: flex;
        justify-content: flex-end;
        position: relative;
        top: 0;
        width: 100%;
        height: 100vh;
        background: #9fbbad;

        .masterplan-image {
            position: absolute;
            top: 0;
            z-index: 0;
            width: 94vw;
            object-fit: contain;
        }

        .pin-container {
            position: absolute;
            z-index: 10;
            width: 94vw;
            height: 100%;
        }
    }

    .image-popup-navigation {
        display: flex;
        flex-direction: column;
        gap: $px-10;
        position: absolute;
        left: $side-distance;
        top: $px-72;

        .button-container {
            display: flex;
            align-items: center;
            gap: $px-12;

            .popup-button {
                width: $px-32;
                height: $px-32;
            }

            span {
                text-transform: capitalize;
                color: $cl-gray04;
                transition: 0.3s ease;

                &:hover {
                    color: $cl-black;
                }
            }

            &:last-child {
                margin-top: $px-48;
            }
        }
    }
}