.popup-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}