.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20.625vw;
    padding: 12px 0;
    background: $cl-gray02;
    border-radius: 12px;
    transition: 0.3s ease;
    cursor: pointer;

    .content {
    }

    &:hover {
        background: $cl-white;
    }
}